In [ ]:
import pandas as pd
from collections import deque
import random
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
from tensorflow.keras.callbacks import TensorBoard
from tensorflow.keras.callbacks import ModelCheckpoint, ModelCheckpoint
import time
from sklearn import preprocessing

In [ ]:
data = pd.read_csv("./bream_bay.csv")
data.head(2)

         DATE      TIME  Temperature  Day
0  1979-01-01  00:00:00    282.88965    0
1  1979-01-01  01:00:00    283.02603    0

In [ ]:
data["DATE_TIME"] = pd.to_datetime(data.DATE  + " " + data["TIME"])

In [ ]:
data.head(5)

         DATE      TIME  Temperature  Day           DATE_TIME
0  1979-01-01  00:00:00    282.88965    0 1979-01-01 00:00:00
1  1979-01-01  01:00:00    283.02603    0 1979-01-01 01:00:00
2  1979-01-01  02:00:00    283.13562    0 1979-01-01 02:00:00
3  1979-01-01  03:00:00    282.95294    0 1979-01-01 03:00:00
4  1979-01-01  04:00:00    282.92370    0 1979-01-01 04:00:00

In [ ]:
max_temp = data.Temperature.max()
max_temp

295.04376

In [ ]:
#data.Temperature = data.Temperature/max_temp

In [ ]:
for i in range(1,6):
    data["T_" + str(i)] = data.Temperature.shift(i)

In [ ]:
data.fillna(0.00,inplace=True)
data.head(10)

         DATE      TIME  Temperature  ...        T_3        T_4        T_5
0  1979-01-01  00:00:00    282.88965  ...    0.00000    0.00000    0.00000
1  1979-01-01  01:00:00    283.02603  ...    0.00000    0.00000    0.00000
2  1979-01-01  02:00:00    283.13562  ...    0.00000    0.00000    0.00000
3  1979-01-01  03:00:00    282.95294  ...  282.88965    0.00000    0.00000
4  1979-01-01  04:00:00    282.92370  ...  283.02603  282.88965    0.00000
5  1979-01-01  05:00:00    282.90910  ...  283.13562  283.02603  282.88965
6  1979-01-01  06:00:00    282.45352  ...  282.95294  283.13562  283.02603
7  1979-01-01  07:00:00    282.10270  ...  282.92370  282.95294  283.13562
8  1979-01-01  08:00:00    282.19528  ...  282.90910  282.92370  282.95294
9  1979-01-01  09:00:00    282.22452  ...  282.45352  282.90910  282.92370

[10 rows x 10 columns]

In [ ]:
#clean_data = data[['Day', 'Cloud','Humidity','T_1','T_2', 'T_3', 'T_4', 'T_5','Temperature']]
clean_data = data[['Day','T_1','T_2', 'T_3', 'T_4', 'T_5','Temperature']]

In [ ]:
clean_data.head(2)

   Day        T_1  T_2  T_3  T_4  T_5  Temperature
0    0    0.00000  0.0  0.0  0.0  0.0    282.88965
1    0  282.88965  0.0  0.0  0.0  0.0    283.02603

In [ ]:
training_data = data[data.DATE_TIME < pd.to_datetime("01/01/2015")]

In [ ]:
training_data.tail(3)

              DATE      TIME  Temperature  ...        T_3        T_4        T_5
315573  2014-12-31  21:00:00    283.14084  ...  283.64978  283.70068  283.81320
315574  2014-12-31  22:00:00    282.21133  ...  283.37387  283.64978  283.70068
315575  2014-12-31  23:00:00    282.23007  ...  283.18637  283.37387  283.64978

[3 rows x 10 columns]

In [ ]:
val_data = data[(data.DATE_TIME >= pd.to_datetime("01/01/2015")) & (data.DATE_TIME < pd.to_datetime("01/01/2017"))]

In [ ]:
test_data = data[data.DATE_TIME >= pd.to_datetime("01/01/2017")]

In [ ]:
test_data.tail(3)

              DATE      TIME  Temperature  ...        T_3        T_4        T_5
350637  2018-12-31  21:00:00    287.28946  ...  287.46216  287.78230  288.21298
350638  2018-12-31  22:00:00    286.60776  ...  287.30786  287.46216  287.78230
350639  2018-12-31  23:00:00    286.05734  ...  287.32630  287.30786  287.46216

[3 rows x 10 columns]

In [ ]:
clean_train = training_data[['Day','T_1','T_2', 'T_3', 'T_4', 'T_5','Temperature']]
clean_test = test_data[['Day','T_1','T_2', 'T_3', 'T_4', 'T_5','Temperature']]
clean_val = val_data[['Day','T_1','T_2', 'T_3', 'T_4', 'T_5','Temperature']]

In [ ]:
X_train,y_train = clean_train.drop(["Temperature"],axis=1),clean_train.Temperature
X_test,y_test = clean_test.drop(["Temperature"],axis=1),clean_test.Temperature
X_val,y_val = clean_val.drop(["Temperature"],axis=1),clean_val.Temperature

In [ ]:
X_train = np.array(X_train)
y_train = np.array(y_train)
X_val = np.array(X_val)
y_val = np.array(y_val)
X_test = np.array(X_test)
y_test = np.array(y_test)

In [ ]:
X_train = np.reshape(X_train, (X_train.shape[0],X_train.shape[1],1))
X_val = np.reshape(X_val, (X_val.shape[0],X_val.shape[1],1))
X_test = np.reshape(X_test, (X_test.shape[0],X_test.shape[1],1))

In [ ]:
n_layer = 12
n_lag = 6

In [ ]:
model = Sequential()
model.add(LSTM(n_layer, activation = 'relu', input_shape = (n_lag,1)))
#model.add(LSTM(128))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 12)                672

 dense (Dense)               (None, 1)                 13

=================================================================
Total params: 685
Trainable params: 685
Non-trainable params: 0
_________________________________________________________________

In [ ]:
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir="./logs")
history = model.fit(
    X_train, y_train,
    batch_size=1024,
    epochs=100,
    validation_data=(X_val, y_val),
    callbacks=[tensorboard_callback]
)

Epoch 1/100
309/309 [==============================] - 9s 19ms/step - loss: 409.9699 - val_loss: 0.3980
Epoch 2/100
309/309 [==============================] - 5s 16ms/step - loss: 0.8400 - val_loss: 0.3970
Epoch 3/100
309/309 [==============================] - 6s 19ms/step - loss: 0.7641 - val_loss: 0.3953
Epoch 4/100
309/309 [==============================] - 5s 16ms/step - loss: 0.7605 - val_loss: 0.3937
Epoch 5/100
309/309 [==============================] - 5s 17ms/step - loss: 0.7611 - val_loss: 0.3987
Epoch 6/100
309/309 [==============================] - 5s 16ms/step - loss: 0.7765 - val_loss: 0.3934
Epoch 7/100
309/309 [==============================] - 5s 16ms/step - loss: 0.7285 - val_loss: 0.3661
Epoch 8/100
309/309 [==============================] - 4s 11ms/step - loss: 0.6882 - val_loss: 0.3533
Epoch 9/100
309/309 [==============================] - 3s 10ms/step - loss: 0.6720 - val_loss: 0.3407
Epoch 10/100
309/309 [==============================] - 3s 10ms/step - loss: 0.6518 - val_loss: 0.3285
Epoch 11/100
309/309 [==============================] - 3s 10ms/step - loss: 0.6359 - val_loss: 0.3490
Epoch 12/100
309/309 [==============================] - 3s 10ms/step - loss: 0.6170 - val_loss: 0.2960
Epoch 13/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5964 - val_loss: 0.2861
Epoch 14/100
309/309 [==============================] - 3s 10ms/step - loss: 11.1733 - val_loss: 9.0756
Epoch 15/100
309/309 [==============================] - 3s 10ms/step - loss: 0.8504 - val_loss: 0.2997
Epoch 16/100
309/309 [==============================] - 3s 10ms/step - loss: 0.6101 - val_loss: 0.2951
Epoch 17/100
309/309 [==============================] - 3s 10ms/step - loss: 0.6247 - val_loss: 0.2984
Epoch 18/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5839 - val_loss: 0.2923
Epoch 19/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5984 - val_loss: 0.2962
Epoch 20/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5616 - val_loss: 0.2927
Epoch 21/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5595 - val_loss: 0.2915
Epoch 22/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5452 - val_loss: 0.2886
Epoch 23/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5403 - val_loss: 0.2873
Epoch 24/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5367 - val_loss: 0.2931
Epoch 25/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5283 - val_loss: 0.2929
Epoch 26/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5175 - val_loss: 0.2921
Epoch 27/100
309/309 [==============================] - 3s 10ms/step - loss: 0.4956 - val_loss: 0.3177
Epoch 28/100
309/309 [==============================] - 3s 10ms/step - loss: 0.4696 - val_loss: 0.2901
Epoch 29/100
309/309 [==============================] - 3s 10ms/step - loss: 0.4253 - val_loss: 0.2828
Epoch 30/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3915 - val_loss: 0.2812
Epoch 31/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3745 - val_loss: 0.5035
Epoch 32/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3290 - val_loss: 0.3123
Epoch 33/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3153 - val_loss: 0.2988
Epoch 34/100
309/309 [==============================] - 4s 12ms/step - loss: 0.3829 - val_loss: 0.2815
Epoch 35/100
309/309 [==============================] - 3s 11ms/step - loss: 0.2919 - val_loss: 0.3089
Epoch 36/100
309/309 [==============================] - 3s 10ms/step - loss: 0.2957 - val_loss: 0.3624
Epoch 37/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3068 - val_loss: 0.3002
Epoch 38/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3107 - val_loss: 0.2743
Epoch 39/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3129 - val_loss: 0.2652
Epoch 40/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3139 - val_loss: 0.3034
Epoch 41/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3348 - val_loss: 0.2617
Epoch 42/100
309/309 [==============================] - 3s 10ms/step - loss: 0.2976 - val_loss: 0.2564
Epoch 43/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3156 - val_loss: 0.3828
Epoch 44/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3153 - val_loss: 0.8689
Epoch 45/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3037 - val_loss: 0.4703
Epoch 46/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3126 - val_loss: 0.2641
Epoch 47/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3020 - val_loss: 0.2480
Epoch 48/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3106 - val_loss: 0.2584
Epoch 49/100
309/309 [==============================] - 3s 10ms/step - loss: 0.2906 - val_loss: 0.2621
Epoch 50/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3011 - val_loss: 0.2420
Epoch 51/100
309/309 [==============================] - 3s 10ms/step - loss: 27.9423 - val_loss: 0.3466
Epoch 52/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3910 - val_loss: 0.3462
Epoch 53/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3716 - val_loss: 0.3459
Epoch 54/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3664 - val_loss: 0.3456
Epoch 55/100
309/309 [==============================] - 3s 11ms/step - loss: 0.3638 - val_loss: 0.3454
Epoch 56/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3628 - val_loss: 0.3457
Epoch 57/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3631 - val_loss: 0.3446
Epoch 58/100
309/309 [==============================] - 5s 15ms/step - loss: 0.3426 - val_loss: 0.3079
Epoch 59/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3229 - val_loss: 0.2985
Epoch 60/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3223 - val_loss: 0.3017
Epoch 61/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3199 - val_loss: 0.2958
Epoch 62/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3163 - val_loss: 0.3047
Epoch 63/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3141 - val_loss: 0.3286
Epoch 64/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3171 - val_loss: 0.2947
Epoch 65/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3129 - val_loss: 0.2837
Epoch 66/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3159 - val_loss: 0.2811
Epoch 67/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3156 - val_loss: 0.3109
Epoch 68/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3159 - val_loss: 0.3062
Epoch 69/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3193 - val_loss: 0.2768
Epoch 70/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3219 - val_loss: 0.2829
Epoch 71/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3228 - val_loss: 0.3181
Epoch 72/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3232 - val_loss: 0.4298
Epoch 73/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3208 - val_loss: 0.3413
Epoch 74/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3193 - val_loss: 0.3042
Epoch 75/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3112 - val_loss: 0.2837
Epoch 76/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3278 - val_loss: 0.3066
Epoch 77/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3194 - val_loss: 0.3128
Epoch 78/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3088 - val_loss: 0.3290
Epoch 79/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3193 - val_loss: 0.2777
Epoch 80/100
309/309 [==============================] - 3s 10ms/step - loss: 0.5210 - val_loss: 0.3292
Epoch 81/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3204 - val_loss: 0.2788
Epoch 82/100
309/309 [==============================] - 3s 10ms/step - loss: 0.2945 - val_loss: 0.2734
Epoch 83/100
309/309 [==============================] - 3s 10ms/step - loss: 0.2953 - val_loss: 0.3021
Epoch 84/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3146 - val_loss: 0.2688
Epoch 85/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3012 - val_loss: 0.2678
Epoch 86/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3206 - val_loss: 0.3673
Epoch 87/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3133 - val_loss: 0.2774
Epoch 88/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3089 - val_loss: 0.2643
Epoch 89/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3037 - val_loss: 0.2883
Epoch 90/100
309/309 [==============================] - 3s 11ms/step - loss: 0.3046 - val_loss: 0.2623
Epoch 91/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3533 - val_loss: 0.3126
Epoch 92/100
309/309 [==============================] - 3s 11ms/step - loss: 0.3478 - val_loss: 0.4091
Epoch 93/100
309/309 [==============================] - 3s 11ms/step - loss: 0.3126 - val_loss: 0.3390
Epoch 94/100
309/309 [==============================] - 3s 11ms/step - loss: 0.3126 - val_loss: 0.4375
Epoch 95/100
309/309 [==============================] - 3s 10ms/step - loss: 0.3079 - val_loss: 0.2971
Epoch 96/100
309/309 [==============================] - 4s 12ms/step - loss: 0.3133 - val_loss: 0.2591
Epoch 97/100
309/309 [==============================] - 3s 11ms/step - loss: 0.2925 - val_loss: 0.2551
Epoch 98/100
309/309 [==============================] - 3s 11ms/step - loss: 0.2999 - val_loss: 0.2521
Epoch 99/100
309/309 [==============================] - 3s 11ms/step - loss: 0.2991 - val_loss: 0.2536
Epoch 100/100
309/309 [==============================] - 3s 11ms/step - loss: 0.3026 - val_loss: 0.2774

In [ ]:
pred = model.predict(X_test)

In [ ]:
pred

array([[281.1946 ],
       [281.5707 ],
       [281.77386],
       ...,
       [286.99042],
       [287.00592],
       [286.7102 ]], dtype=float32)

In [ ]:
preddata = pd.DataFrame(data=pred[0:,0:])

In [ ]:
preddata['pred'] = preddata[0]

In [ ]:
preddata

                0        pred
0      281.194611  281.194611
1      281.570709  281.570709
2      281.773865  281.773865
3      281.744568  281.744568
4      281.777069  281.777069
...           ...         ...
17515  287.269989  287.269989
17516  287.049133  287.049133
17517  286.990417  286.990417
17518  287.005920  287.005920
17519  286.710205  286.710205

[17520 rows x 2 columns]

In [ ]:
clean_test['Predicted'] = preddata['pred'].values
test_data['Predicted'] = preddata['pred'].values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
clean_data2 = test_data[['DATE_TIME','Temperature','Predicted']]

In [ ]:
from sklearn.metrics import mean_squared_error
rms = mean_squared_error(clean_data2.Temperature, clean_data2.Predicted, squared=False)

In [ ]:
rms

0.5180077915086204

In [ ]:
#clean_data2.Temperature = clean_data2.Temperature * max_temp
#clean_data2.Predicted = clean_data2.Predicted * max_temp

In [ ]:
clean_data2

                 DATE_TIME  Temperature   Predicted
333120 2017-01-01 00:00:00    281.61188  281.194611
333121 2017-01-01 01:00:00    281.79382  281.570709
333122 2017-01-01 02:00:00    281.85373  281.773865
333123 2017-01-01 03:00:00    281.91360  281.744568
333124 2017-01-01 04:00:00    282.24295  281.777069
...                    ...          ...         ...
350635 2018-12-31 19:00:00    287.30786  287.269989
350636 2018-12-31 20:00:00    287.32630  287.049133
350637 2018-12-31 21:00:00    287.28946  286.990417
350638 2018-12-31 22:00:00    286.60776  287.005920
350639 2018-12-31 23:00:00    286.05734  286.710205

[17520 rows x 3 columns]

In [ ]:
#clean_data2.to_csv("Location20_LSTM.csv", index = False)