In [ ]:
years = ["1979", "1980", "1981", "1982", "1983", "1984", "1985", "1986", "1987","1988","1989", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997","1998","1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007","2008","2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017","2018"]
data = pd.DataFrame()

In [ ]:
# Choose latitude and longitude of the location to write out
lat_index = 9
lon_index = 31

In [ ]:
for i in years:
    dataset = f"ERA5_Temperature_data/{i}.nc" # ERA5 Temperature data for every year is named as year.nc.
    # For eg. For the year 1979, the details are stored in a file 1979.nc
    nc = netCDF4.Dataset(dataset, mode='r')
    nc.variables.keys()
    time_var = nc.variables['time']
    dtime = netCDF4.num2date(time_var[:],time_var.units)
    temperature = nc.variables['t'][:,lat_index,lon_index]
    temperature = pd.Series(nc.variables['t'][:,lat_index,lon_index], index=dtime)
    temperature.to_csv(f"CSV_files/{i}.csv",index=True, header=None)